<div class="card">
  <span
    [ngClass]="{
      opened: card.opened
    }"
  >
    {{ card.opened ? 'Aberto' : 'Fechado' }}
  </span>
  <h2>{{ card.title }}</h2>
  <p [innerHTML]="card.content"></p>
  <div class="divider"></div>
  <ul>
    <img *ngIf="card.mask" [src]="'/assets/imgs/png/' + card.mask + '-mask.png'" />
    <img *ngIf="card.towel" [src]="'/assets/imgs/png/' + card.towel + '-towel.png'" />
    <img *ngIf="card.fountain" [src]="'/assets/imgs/png/' + card.fountain + '-fountain.png'" />
    <img *ngIf="card.locker_room" [src]="'/assets/imgs/png/' + card.locker_room + '-lockerroom.png'" />
  </ul>
  <ul>
    @for (schedule of card.schedules; track card.id) {
      <li>
        <b>{{ schedule.weekdays }}</b>
        {{ schedule.hour }}
      </li>
    }
  </ul>
</div>
