header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-width: 100vw;

  gap: 3rem;

  .logo-container {
    background: black;
    padding: 1.5rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    img{
      height: 6rem;
    }
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    max-width: 80%;
    margin: 0 auto;

    .heading{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      margin-bottom: 1.5rem;

      gap: 1rem;

      .heading-border{
        height: 0.75rem;
        width: 6rem;
        background: var(--dark-grey);
      }

      h1{
        font-size: 2rem;
        color: var(--dark-grey)
      }
    }

    p{
      color: var(--light-grey)
    }
  }
}
